*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navgation bar code start here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 25, 31);
    padding: 20px 20px;
}
.logo{
    font-size: 25px;
    color: whitesmoke;
    text-transform: uppercase;
}
nav > ul{
  display: flex;
}
nav > ul > li{
    list-style: none;
    margin: 0 5px;
    font-size: 18px;
    text-transform: capitalize;
 
}
nav > ul > li >a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 5px;
}
nav > ul > li >:hover,nav>ul>li>a.active{
    background-color: #f3eeee71;
   
}

#click{
    display: none;
}
.menu_btn{
    color: whitesmoke;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

/* Responsive work start */
@media only screen and (max-width: 640px){
    .menu_btn{
        display: block;
    }
   nav ul{
    position: fixed;
     top: 80px;
     left: -100%;
    background-color: dodgerblue;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    transition: ease-in 0.2s;
   }
   #click:checked ~ ul{
    left: 0;
   }
 #click:checked ~ .menu_btn i::before{
    content: "\f00d";
 }
   nav ul li{
    margin: 50px 0;
   }
   nav ul li a{
    font-size: 22px;
   }
   nav ul li a:hover,nav ul li a.active{
    background: none;
    color: red;
   }
  
}

/* first section code start here */
section div img{
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/* first section code start here */
.second_section{
    margin: 50px 0;
}

.second_section_title{
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    padding-bottom: 20px;

}
.second_section_parent{
    width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;

}
.second_section_single_div{
    box-shadow: 10px 10px 5px 15px rgba(128, 128, 128, 0.62);
    padding: 20px 20px;
    height: 200px;
    text-align: center;
}

/* Responive in our services */
@media only screen and (max-width:688px){
    .second_section_parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        grid-gap:10px;
    }
   .smart_area_parent{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
   }

}
@media only screen and (min-width:689px) and (max-width:1099px){
    .second_section_parent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:15px;
        width: 100%;
    }
    .second_section_single_div{
        color: rgb(11, 17, 2);
        border-radius: 25px;
        background-color: gray;
    }
    .smart_area_parent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
       }
}

/* smart area code start here */
.smart_area_section{
    margin: 200px 0;
    border: 1px solid black;
}
.smart_area_parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 50vh;
   
    margin: auto;
}
.smart_area_parent >.smart_pic{
    width: 450px;
    height: 400px;
   
}
.smart_pic > img{
    width: 100%;
    height: 100%;
}
.smart_title{
    width: 350px;
  
}
.smart_title > a{
    text-decoration: none;
   background-color: lightpink;
   margin: 0 30px;
    display: inline-block;
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}