*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navgation bar code start here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 25, 31);
    padding: 20px 20px;
}
.logo{
    font-size: 25px;
    color: whitesmoke;
    text-transform: uppercase;
}
nav > ul{
  display: flex;
}
nav > ul > li{
    list-style: none;
    margin: 0 5px;
    font-size: 18px;
    text-transform: capitalize;
 
}
nav > ul > li >a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 5px;
}
nav > ul > li >:hover,nav>ul>li>a.active{
    background-color: #f3eeee71;
   
}

#click{
    display: none;
}
.menu_btn{
    color: whitesmoke;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

/* Responsive work start */
@media only screen and (max-width: 640px){
    .menu_btn{
        display: block;
    }
   nav ul{
    position: fixed;
     top: 80px;
     left: -100%;
    background-color: rgb(19, 23, 27);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    transition: ease-in 0.2s;
   }
   #click:checked ~ ul{
    left: 0;
   }
 #click:checked ~ .menu_btn i::before{
    content: "\f00d";
 }
   nav ul li{
    margin: 50px 0;
   }
   nav ul li a{
    font-size: 22px;
   }
   nav ul li a:hover,nav ul li a.active{
    background: none;
    color: red;
   }
  
}

/* first section code start here */
.pick img{
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #0c0808;
}



/* first section code start here */
.second_section{
    padding: 50px 0;
    background-color: #584b4b3b;
}

.second_section_title{
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    padding-bottom: 20px;

}
.second_section_parent{
    width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;

}
.second_section_single_div{
    box-shadow: 10px 10px 5px 15px rgba(128, 128, 128, 0.62);
    padding: 20px 20px;
    height: 200px;
    text-align: center;
}

/* Responive in our services */



/* smart area code start here */

#smart_section{
    background-color: gray;
    padding: 30px 0;
}
#smart_section h1{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: whitesmoke;
    padding-top: 10px;

   
}
.smart_title h3{
    margin: 10px 0;
}
#smart_parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;

}
.smart_title{
    color: whitesmoke;
}
.smart_title a{
    color: black;
    text-decoration: none;
    background-color: bisque;
    margin: 10px 0; 
    display: inline-block;
    padding: 5px 25px;
    border-radius: 10px;

}


/* about more vandilla code start here */

#more_about_section{
    background-image:url(images/bck.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    background-color: gray;
}
.vandilla_parent{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    gap:30px;
    align-items: center;
    color: whitesmoke;

}
.title h4{
    font-size: 22px;
    margin-bottom: 15px;
}
.title p{
    margin: 10px 0;
}
.title ul{
    margin-bottom: 15px;
}
.title a{
    text-decoration: none;
    margin: 20px 0;
    display: inline-block;
    background-color: yellow;
    padding: 10px 30px;
    border-radius: 5px;

}
/* card */
.card_parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:25px;
}
.single_card{
    background-color: rgba(233, 200, 161, 0.836);
    padding: 20px 25px;
    text-align: center;
    border-radius: 10px;
}
.single_card h3{
    font-size: 22px;
    margin-bottom: 10px;
    
}
/* lissen to me start */

#lissen_section{
    background-image: url(images/cont.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}
#lissen_section{
    padding: 60px 0;
}
.lissen_parent{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}
/* images start */
.imges_div h4{
    font-size: 22px;
    margin-bottom: 10px;

}
.imges_div p{
    margin: 10px 0;
}
.imges_div a{
    background-color: bisque;
    padding: 5px 20px;
    margin: 10px 5px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}
.imges_div a i:hover{
    color: red;
    
}

/* paragraph  */
.paragraph h3{
font-size: 22px;
text-transform:uppercase;
margin-bottom: 15px;

}
.paragraph p{
    margin: 15px 0;
    line-height: 1.2em;
    text-align: justify;
}
.paragraph button{
    background-color: bisque;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
   
}

/* Contact section start */
#contact_section{
    padding: 50px 0;
    background-color: rgb(10, 10, 19);
    color: wheat;
    width: 100%;
}
#contact_from{
    width: 50%;
    margin: auto;
    background-color:#0C2D36;
    padding: 30px 20px;
    text-align: center;
    border: 2px solid lightpink;
}
#contact_from input{
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    background: none;
    margin: 20px 0;
    outline: none;
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;

}
#contact_from button{
    border: 1px solid rgb(230, 221, 221);
    background: none;
    padding: 5px 15px;
    color: whitesmoke;

}

/* match section code start here */

#match_section{
    padding: 50px 0;
    background-color: #1b303657;
}
.match_parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
    margin-left: 200px;
    margin-right: 200px;
}

.singel_card{
    border: 2px solid #0C2D36;
    padding: 20px 20px;
}
.singel_card i{
    font-size: 35px;
    padding: 0 20px 10px 20px;
}
.singel_card:nth-child(2){
    border: 2px solid whitesmoke;
}
/* convasatin code stgart */

#conversation_section{
    padding: 50px 0;
}
.conversatin_parent{
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    gap: 40px;
}
.con_pic img{
    width: 100%;
}
.con_title h2{
margin: 20px 0;
text-transform: capitalize;
font-size: 22px;
}
.con_title p{
    margin-bottom: 10px;
}
.con_title ul li{
    list-style: none;
    margin: 5px 0;
    
}
/* footer section code start here */
footer{
    padding: 60px 0;
    background-color:#0C2D36;
}
.footer_parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    margin-left: 200px;
    margin-right: 200px;
    color: whitesmoke;
}
.footer_parent ul{
    margin-left: 20px;
    margin-right: 20px;
}
.footer_parent ul li{
    list-style: lower-alpha;
    margin: 10px 0;
}
.footer_parent h2{
    margin-bottom: 10px;
  
}
.footer_parent a{
    color: whitesmoke;
    margin: 0 5px;
}
.footer_parent i{
    font-size: 25px;
}
hr{
    margin-top: 30px;
}
h3{
    text-align: center;
    font-size: 22px;
    color: whitesmoke;
    margin-top: 15px;
    text-transform: capitalize;
}






















@media only screen and (max-width:688px){
    .second_section_parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        grid-gap:10px;
        margin-left: 20px;
        margin-right: 20px;
       
    }
    .second_section_parent .second_section_single_div{
        border-radius: 20px;
        box-shadow: 10px 5px 5px rgba(158, 158, 146, 0.2);

    }
#smart_parent{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}
.smart_image img{
width: 100%;
}
.smart_title{
    margin-top: 20px;
}


/* vardilla resposive start */
.vandilla_parent{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    gap:30px;
    align-items: center;
    color: whitesmoke;

}
.card_parent{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:10px;
}


/* vardilla resposive End */

/* lissen to me resposive start */
.lissen_parent{
    display: block;
    gap:10px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.paragraph{
    margin-top: 25px;
}
.imges_div a i{
    text-align: left;
}
/* lissen to me resposive End */
/* contact resposive start */
#contact_from{
   width: 100%;
   margin: auto;
    background-color:#0C2D36;
    padding: 30px 20px;
    text-align: center;
    border: 2px solid lightpink;
}
/* contact resposive End */

/* match resposive start */
.match_parent{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:10px;
    margin-left: 20px;
    margin-right: 20px;
}
.match_parent h2{
    text-align: center;
}
/* match resposive End */

/* conversatin start */
.conversatin_parent{
    display: block;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    gap: 40px;
}
.con_pic img{
    width: 100%;
}
.con_title{
    margin-bottom: 30px;
}

/* conversatin End */

/* footer resposive start */
.footer_parent{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* grid-gap:30px; */
    margin-left: 20px;
    margin-right: 20px;
    color: whitesmoke;
    width: 100%;
}
.footer_parent ul{
    margin-left: 20px;
    margin-right: 20px;
}
}

@media only screen and (min-width:689px) and (max-width:1099px){
    .second_section_parent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:15px;
        width: 100%;
    }
    .second_section_single_div{
        color: rgb(11, 17, 2);
        border-radius: 25px;
        background-color: gray;
    }
    #smart_parent{
        display: block;
        margin-left: 70px;
        margin-right: 70px;
    }
    .smart_image img{
    width: 100%;
    }

    .smart_title{
        margin-top: 40px;
    }
/* vardilla resposive start */
.vandilla_parent{
    display: block;
    margin-left: 70px;
    margin-right: 70px;
    gap:20px;
    align-items: center;
    color: whitesmoke;

}
.card_parent{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:10px;
}


/* vardilla resposive End */

/* lissen to me resposive start */
.lissen_parent{
    display: block;
    gap:10px;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
}
.paragraph{
    margin-top: 25px;
}
/* lissen to me resposive End */
/* contact resposive start */
#contact_from{
    width: 100%;
    margin: auto;
     background-color:#0C2D36;
     padding: 30px 20px;
     text-align: center;
     border: 2px solid lightpink;
 }
 /* contact resposive End */
 /* match resposive start */
.match_parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px;
    margin-left: 70px;
    margin-right: 70px;
}
.match_parent h2{
    text-align: center;
}
/* match resposive End */
/* conversatin start */
.conversatin_parent{
    display: block;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    gap: 40px;
}
.con_pic img{
    width: 100%;
}
.con_title{
    margin-bottom: 30px;
   
}
.con_title ul li{
      margin-left: 20px;  
}
/* conversatin End */
/* footer resposive start */
.footer_parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:30px;
    margin-left: 50px;
    margin-right: 50px;
    color: whitesmoke;
    width: 100%;
}
.footer_parent ul{
    margin-left: 20px;
    margin-right: 20px;
}
       }

