*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navgation bar code start here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 25, 31);
    padding: 20px 20px;
}
.logo{
    font-size: 25px;
    color: whitesmoke;
    text-transform: uppercase;
}
nav > ul{
  display: flex;
}
nav > ul > li{
    list-style: none;
    margin: 0 5px;
    font-size: 18px;
    text-transform: capitalize;
 
}
nav > ul > li >a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 5px;
}
nav > ul > li >:hover,nav>ul>li>a.active{
    background-color: #f3eeee71;
   
}
#click{
    display: none;
}
.menu_btn{
    color: whitesmoke;
    font-size: 22px;
    cursor: pointer;
    display: none;
}


/* @media only screen and (max-width: 640px){
    .menu_btn{
        display: block;
    }
   nav ul{
    position: fixed;
     top: 80px;
     left: -100%;
    background-color: rgb(19, 23, 27);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    transition: ease-in 0.2s;
   }
   #click:checked ~ ul{
    left: 0;
   }
 #click:checked ~ .menu_btn i::before{
    content: "\f00d";
 }
   nav ul li{
    margin: 50px 0;
   }
   nav ul li a{
    font-size: 22px;
   }
   nav ul li a:hover,nav ul li a.active{
    background: none;
    color: red;
   }
  
} */

.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    
}
.text{
    width: 500px;
    
}
.text h2 span{
    color: red;
    font-size: 30px;
}
.text h2{
margin: 15px 20px;
}
.text p{
    margin: 0 20px;
}


/* form start */

.from{
    width: 600px;
    box-shadow: 20px 10px 10px 5px rgb(240, 236, 237);
}
.from input{
    width: 250px;
    height: 40px;
    margin: 20px 20px;
    padding: 0 15px;
    color: black;
    border: none;
    background-color: lightpink;
    border-radius: 10px;
}
.from a{
    background-color: lightpink;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    margin:10px 20px;
    display: inline-block;
    transition: 0.5s;
}
.from a:hover{
    background-color: rgb(207, 124, 218);
}
.from h5{
    float: right;
    font-size: 22px;
    text-transform: capitalize;
    margin: 20px 10px;

}
.from h4{
    text-align: center;
    padding: 20px 0;
    font-size: 22px;
    text-transform: uppercase;
}
.two_div_parent{
    display: flex;
    justify-content: space-between;
   

}
.two_from input{
    width: 250px;
    height: 40px;
    background-color: rgb(238, 236, 232);
    border: none;
    border-radius: 20px;
    margin: 10px 20px;
}
.two input{
    width: 250px;
    height: 40px;
    background-color: rgb(236, 234, 229);
    border: none;
    border-radius: 20px;
    margin: 10px 20px;
}


/* resposive work start */
@media only screen and (max-width: 688px){
    .parent{
        display: block;
       width: 100%;
       height: 50vh;
    }
    .text{
        margin: 30px 0;
    }
}

